.summary {
   
    max-width: 25rem;
    
    height: 2rem;
    
   margin-left: 30rem;
   margin-bottom: 2rem;
   
    background: #e8ecec 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
   
  
   
   
  }.summary form{
      display: flex;
      
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 6px 0px 0px 6px;
      opacity: 1;
    
      /* padding-bottom:4rem; */
  }
  input {
   
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 6px 0px 0px 6px;
opacity: 1;
}
.summary form button{
    text-align: center;
    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #1E776E 0% 0% no-repeat padding-box;
 border-radius: 0px 6px 6px 0px;
    opacity: 1;
   
}
