.summary {

  max-width: 60rem;

  height: 90rem;
 margin-left: 10rem;
  position: relative;
 
  border-radius: 8px 8px 0px 0px;
  opacity: 1;

 
 
}
.cumulatively{
  
  border-radius: 8px 8px 0px 0px;
  opacity: 1;
 height: 10rem;

 background: #1E776E 0% 0% no-repeat padding-box;


}
.cumulatively h1{
  text-align: center;
  font: normal normal  Roboto;
  font-size: 65px;
  letter-spacing: 0px;
  color: #2FC8B8;
  opacity: 1;
  height: 5rem;

}
.cumulatively p{
  text-align: center;
  margin-bottom: 2rem;
font: normal normal bold 22px/27px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
height: 3rem;
margin-top: -2rem;

}


.total{
  
 
box-shadow: 0px 3px 16px #0000001F;

opacity: 1;
display: flex;

height: 10rem;

background:#ffff 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 16px #0000001F;
border-radius: 0px 0px 8px 8px;


}
.card{
  width: 200px;
  color: black;
  text-align: center;
  padding: 1rem;
display: flex;
flex-direction: column;
  height: 100%;
  cursor: pointer;
 
 

}
.card p{
  text-align: center;
  font: normal normal  Roboto;
  font-size: 23px;
  letter-spacing: 0px;
  color: #2FC8B8;
  opacity: 1;
}
.card h2 {
  text-align: center;
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.card h3{
  text-align: center;
font: normal normal 300 16px/19px Roboto;
letter-spacing: 0px;
color: #888888;
opacity: 1;
}
.card h8 h9 {
  margin-top: 2rem;
}